<footer id="fh5co-footer" role="contentinfo">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-8 fh5co-widget ">
				<h3>FOUR<span class="bit-color">BIT.</span></h3>
				<p>Fourbit adapts the emerging trend of Artificial Intelligence, Blockchain Technology, Data Analytics, Sentimental Analytics, Digital/Market/Research Analytics.</p>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-md-12 text-center">
				<p>
					<small class="block">&copy; 2020 <span class="copyright-fourbit">FOUR<span class="bit-color">BIT.</span></span> All Rights Reserved.</small>
				</p>
				<ul class="fh5co-social-icons">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="https://m.facebook.com/GenerationOfInnovations" target="_blank"><i class="icon-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/company/fourbit" target="_blank"><i class="icon-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>