<page-header [titleName]="title_name"></page-header>
<div id="fh5co-team">
	<div class="container">
		<div class="row animate-box row-pb-md">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<p>Fourbit venture to become versatile IT Services & Solution provider all over the world. We exile to make our client experience flat and neat using Digital Technologies which leads the solution look and feel towards the Digital Experience to their customers.</p>
			</div>
		</div>
		<!-- <div class="row animate-box row-pb-md">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<span>Productive Staff</span>
				<h2>Meet Our Staff</h2>
			</div>
		</div> -->
		<!-- <div class="row">
			<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="assets/images/Abhilash.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Abhilash</h3>
					<strong class="role">Co-Founder</strong>
					<p>Data & Technology</p>
					<ul class="fh5co-social-icons">
						<li><a href="https://www.linkedin.com/in/abhilash-dupargude/" target="_blank"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="assets/images/Siddhant.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Siddhant</h3>
					<strong class="role">Co-Founder</strong>
					<p>Digital Analytics</p>
					<ul class="fh5co-social-icons">
						<li><a href="https://www.linkedin.com/in/siddhant-dere-ab9210143" target="_blank"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="assets/images/Abhishek.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Abhishek</h3>
					<strong class="role">Co-Founder</strong>
					<p>Market Research Analytics</p>
					<ul class="fh5co-social-icons">
						<li><a href="https://www.linkedin.com/in/abhishek-saxena2912" target="_blank"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="assets/images/Masum.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Masum</h3>
					<strong class="role">Co-Founder</strong>
					<p>Business Technology </p>
					<ul class="fh5co-social-icons">
						<li><a href="https://www.linkedin.com/in/masum-agrawal-6a2181171" target="_blank"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			
		</div> -->
	</div>
</div>

<!-- <div id="fh5co-testimonial" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box row-pb-md">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<span>You deserved happiness</span>
				<h2>Happy Clients</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 animate-box">
				<div class="testimonial">
					<blockquote>
						<p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
						<p class="author"> <img src="assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
					</blockquote>
				</div>

				<div class="testimonial fh5co-selected">
					<blockquote>
						<p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
						<p class="author"><img src="assets/images/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
					</blockquote>
				</div>
			</div>

			<div class="col-md-6 animate-box">
				<div class="testimonial fh5co-selected">
					<blockquote>
						<p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
						<p class="author"><img src="assets/images/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
					</blockquote>
				</div>

				<div class="testimonial">
					<blockquote>
						<p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
						<p class="author"><img src="assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
					</blockquote>
				</div>
			</div>

		</div>
	</div>
</div> -->