<page-header [titleName]="title_name"></page-header>
<div id="fh5co-project">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
				<h2>We're expert</h2>
				<p>Fourbit adapts the emerging trend of Artificial Intelligence, Blockchain Technology, Data Analytics, Sentimental Analytics, Digital/Market/Research Analytics.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="assets/images/Analytics.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
					<div class="fh5co-copy">
						<h3>Sentimental Analytics</h3>
							<!-- <p>Web Design</p> -->
						</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="assets/images/Blockchain.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
					<div class="fh5co-copy">
						<h3>Blockchain</h3>
						<!-- <p>Brand &amp; Identity</p> -->
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="assets/images/Data.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
					<div class="fh5co-copy">
						<h3>Data Analytics</h3>
						<!-- <p>Illustration</p> -->
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="assets/images/Digital.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
					<div class="fh5co-copy">
						<h3>Digital Analytics</h3>
						<!-- <p>Illustration</p> -->
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="assets/images/Market.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
					<div class="fh5co-copy">
						<h3>Market Research Analytics</h3>
						<!-- <p>Illustration</p> -->
					</div>
				</a>
			</div>
			<!-- <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="assets/images/digital.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
					<div class="fh5co-copy">
						<h3>Notepad Mockup</h3>
						<p>Illustration</p>
					</div>
				</a>
			</div> -->
		</div>
	</div>
</div>